<% content_for :sidebar_left do %>
  <ul class="menu vertical">
    <li class='active'><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Photos', photos_path %></li>
    <li><%= link_to 'Projects', projects_path %></li>
  </ul>
<% end %>

<p id="notice"><%= notice %></p>
<div class='container border'>
  <% @combined.each_with_index do |item, i| %>
    <%= render partial: item.to_partial_path, locals: {photo: item, project: item, left: (i % 2) == 0} %>
  <% end %>
</div>
