<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :link, as: :url %>
    <%= f.input :source_code, as: :url %>
    <%= image_tag(@project.image_url) if @project.image? %>
    <%= f.input :image, as: :file %>
    <%= f.hidden_field :image_cache %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
