<% left = false if local_assigns[:left].nil? %>
<div class='project child-border'>
  <div class="project-image <%= left ? 'left' : 'right' %>">
    <%= image_tag project.image.front.url %>
  </div>
  <div class="information <%= left ? 'right' : 'left' %>">
    <h3><%= project.name %></h3>
    <div class="description">
      <%= project.description %>
    </div>
    <div class='actions'>
      <div class="button-group expanded">
        <%= link_to 'Explore', project.link, class: "success button"%>
        <%= link_to '<i class="fa fa-code" aria-hidden="true"></i> Source code <i class="fa fa-code" aria-hidden="true"></i>'.html_safe, project.source_code, class: "button" %>
      </div>
    </div>
  </div>
  <div class="admin">
    <% if current_user %>
      <%= link_to 'Edit', edit_project_path(project) %> |
      <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
