<%= render 'sidebar' %>

<p id="notice"><%= notice %></p>
<div class="photo">
  <%= image_tag(@photo.image_url) if @photo.image? %>
</div>
<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Destroy', @photo, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', photos_path %>
