<%= render partial: 'layouts/sidebar', locals: {photos_active: false} %>

<div class="photo">
  <%= image_tag(@photo.image_url) if @photo.image? %>
  <div class="metadata text-container">
    <% if !@model.blank? %>
      <b>Camera model</b>: <%= @model %><br>
    <% end %>
    <% if !@exposure.blank? %>
      <b>Exposure time</b>: <%= @exposure %> s<br>
    <% end %>
    <% if !@f.blank? %>
      <b>F-number</b>: <%= @f %><br>
    <% end %>
    <% if !@iso.blank? %>
      <b>ISO</b>: <%= @iso %><br>
    <% end %>
    <% if !@focal.blank? %>
      <b>Focal length</b>: <%= @focal %> mm
    <% end %>
  </div>
</div>
<% if current_user %>
  <p id="notice"><%= notice %></p>
  <%= link_to 'Edit', edit_photo_path(@photo) %> |
  <%= link_to 'Destroy', @photo, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', photos_path %>
<% end %>
