<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Joel Gustafsson" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="wrapper">
      <div id="sidebar" class='border'>
        <div id='sidebar-top' class='child-border'>
          <% if current_user %>
            <%= current_user.name %>
            <%= link_to "Log out", logout_path, method: "delete" %>
          <% end %>
          <% cache(@me_first) do %>
            <h3><%= @me_first.name %></h3>
            <%= @me_description.html_safe %>
          <% end %>
        </div>
        <div class='sidebar-content' >
          <%= yield(:sidebar_left) %>
        </div>
      </div>
      <div id='main-container'>
        <%= yield %>
      </div>
    </div>
    <% cache('footer') do %>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
